
// Mise en page générale avec display:grid

.site {

    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
    // row-gap: 5vh;

    @media screen and (min-width: 1000px) {
        
        grid-template-columns: 20% auto;
        grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
        
    }

}

.site__entete {

    grid-area: header;
    padding: 1rem clamp(1rem, 3vw, 20rem);
    border-bottom: 4px solid black;
    
}

.site__aside {

    grid-area: aside;
    // padding: 1rem clamp(1rem, 3vw, 20rem);

}

.site__main {

    grid-area: main;
    // padding: 1rem clamp(1rem, 3vw, 20rem);
}

.site__footer {

    grid-area: footer;
    // padding: 1rem clamp(1rem, 3vw, 20rem);

}

.menu-notes-container, .menu-cours-container {

    background-color: rgb(60, 140, 150);
    padding: 1rem 0;

    a {
            
        text-decoration: none;

        color: rgb(221, 221, 221);
        text-shadow: 0 0.05rem black;

        transition: color 200ms, text-shadow 200ms;

    }

    a:hover {
        
        color: rgb(171, 171, 171);
        text-shadow: 0 0.2rem rgb(60, 60, 60);
        
    }

}