
// Mise en page générale avec display:grid

.site {

    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";

    @media screen and (min-width: 1000px) {
        
        grid-template-columns: 20% auto;
        grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
        
    }

}

.site__entete {

    grid-area: header;
    padding: 1rem clamp(1rem, 3vw, 20rem);
    border-bottom: 4px solid black;
    
}

.site__aside {

    grid-area: aside;
    padding: 1rem;

}

.site__main {

    grid-area: main;
    width: 100%;

}

.site__footer {

    grid-area: footer;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    padding: 2rem 0;
    background-color: rgb(30, 100, 110);

    border-top: 4px solid black;

    a {
            
        text-decoration: none;
        font-size: 1.5rem;

        color: rgb(221, 221, 221);
        text-shadow: 0 0.05rem black;

        transition: color 200ms, text-shadow 200ms;

    }

    a:hover {
        
        color: rgb(171, 171, 171);
        text-shadow: 0 0.2rem rgb(60, 60, 60);
        
    }

}

.menu-notes-container, .menu-cours-container {

    background-color: rgb(60, 140, 150);
    border-top: 4px solid rgb(130, 190, 200);
    border-bottom: 4px solid rgb(30, 100, 110);
    border-radius: 30px;
    padding: 1rem 0;

    a {
            
        text-decoration: none;

        color: rgb(221, 221, 221);
        text-shadow: 0 0.05rem black;

        transition: color 200ms, text-shadow 200ms;

    }

    a:hover {
        
        color: rgb(171, 171, 171);
        text-shadow: 0 0.2rem rgb(60, 60, 60);
        
    }

}

@media (pointer:none), (pointer:coarse) {
    .site {
        grid-template-columns: auto;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }

    .site__aside {

        display: none;

    }
}

.no-aside {
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
  }
  