.atelier {

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;

  padding: 1.5rem;

  p {

    color: white;
    text-shadow: 0 0.025rem black;
    font-size: 1rem;

    :first-child {

      background-color: rgb(59, 105, 145);
      padding: 1rem;
      font-size: 2rem;
      padding-bottom: 1rem;
      border-bottom: 1px dashed black;

    }

  }

}