.blocflex {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 1rem;

}

.blocflex__article {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    flex: 1 0 300px;
    padding: 1rem;
    margin: 1rem;

    h3, h5, h6, p {

        padding: 0rem;
        margin: 0rem;  

    }

    a {
        
        text-decoration: none;

        color: rgb(221, 221, 221);
        text-shadow: 0 0.05rem black;

        transition: color 200ms, text-shadow 200ms;

    }

    a:hover {
        
        color: rgb(171, 171, 171);
        text-shadow: 0 0.2rem rgb(60, 60, 60);
        
    }

}
.blocflex__galerie {

    flex: 1 0 80%;

}