html {

    background-color: rgb(50, 70, 60);

}

main {

    h1 {

        margin: 0;
        padding: 2rem;

        border-top: 4px solid black;

        color: rgb(221, 221, 221);
        text-shadow: 0 0.5rem black;

        display: flex;
        justify-content: center;

    }

    article {

        background-color: rgb(41, 69, 55);
        border-bottom: 4px solid black;
        padding: 1rem;

        height: auto;

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        
        a {
            
            text-decoration: none;

            color: rgb(221, 221, 221);
            text-shadow: 0 0.25rem black;

            transition: color 200ms, text-shadow 200ms;

        }

        a:hover {
            
            color: rgb(171, 171, 171);
            text-shadow: 0 0.4rem rgb(60, 60, 60);
            
        }

        h3 {

            margin: 0;
            font-size: 2rem;
            color: rgb(221, 221, 221);
            text-shadow: 0 0.25rem black;

        }
        
        p {

            margin: 0;
            padding-top: 1rem;
            border-top: 1px solid black;

        }

        span {

            color: rgb(171, 171, 171);

        }

    }

}