html {

    background-color: rgb(130, 175, 190);

    /* width */
    ::-webkit-scrollbar {
        width: 1rem;
        // border-top: 1px solid rgb(30, 80, 90);
        
        // border-bottom: 1px solid rgb(30, 80, 90);
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: rgb(130, 175, 190);
        border-left: 0.55rem solid rgb(30, 80, 90);
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(60, 140, 150);
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(40, 80, 80);
    }

}

main {

    h1 {

        margin: 0;
        padding: 2rem;

        color: rgb(221, 221, 221);
        text-shadow: 0 0.5rem black;

        display: flex;
        justify-content: center;

    }

    article {

        background-color: rgb(60, 140, 150);
        border-bottom: 4px solid black;
        padding: 1rem;

        height: auto;

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        
        a {
            
            text-decoration: none;

            color: rgb(221, 221, 221);
            text-shadow: 0 0.25rem black;

            transition: color 200ms, text-shadow 200ms;

        }

        a:hover {
            
            color: rgb(171, 171, 171);
            text-shadow: 0 0.4rem rgb(60, 60, 60);
            
        }

        h3 {

            margin: 0;
            font-size: 2rem;
            color: rgb(221, 221, 221);
            text-shadow: 0 0.25rem black;

        }
        
        p {

            margin: 0;
            padding-top: 1rem;
            border-top: 1px solid black;

        }

        span {

            color: rgb(171, 171, 171);

        }

    }

}