.recherche__section {

    article {

        cursor: pointer;
        transition: background-color 200ms;

        padding: 1rem 1rem 2rem 1rem;

        &:hover {
        
            background-color: rgb(70, 165, 175);
        
        }
        
    }


}
