.recherche__section {

    article {

        cursor: pointer;
        transition: background-color 200ms;

        padding: 1rem 1rem 2rem 1rem;

        &:hover {
        
            background-color: rgb(70, 165, 175);
        
        }
        
    }


}

.recherche__input, button {

    background-color: rgb(70, 165, 175);
    border-radius: 8px;
    color: aliceblue;

    transition: background-color 200ms;

    &:hover {
        
        background-color: rgb(60, 140, 150);
    
    }


    button:hover, span:hover, img:hover {

        cursor: pointer;

    }

}